.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	z-index: 5000;
	transition: all ease 0.25s;
}

body {
	background: #FFF;
	color: #38373d;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
}

a, a:hover, a:focus {color: #ff5400;}

h1 {
	font-size: 1.75rem;
	font-weight: 500;
}
h2 {
	font-size: 1rem;
	font-weight: 700;
}
small, .small {font-size: 90%;}
.fw700 {font-weight: 700;}
.md-border {border-color: #e0e0e0;}

/* Login screen */
.card.login-screen {
	box-shadow: none;
}

/* page structure */
.content-wrapper > .content {padding: 60px 2.5rem;}

/* multi pages */
.mydir-controls {
	background-color: #f0f0f0;
	padding: 1rem;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
}
.btn.mydir-button, .btn.mydir-button-sm {
	background-color: #1e3451;
	border-color: #1e3451;
	margin-top: 1rem;
	padding: 0.5rem 2rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875rem;
	color: #fff;
}
.btn.mydir-button:hover, .btn.mydir-button:focus, .btn.mydir-button-sm:hover, .btn.mydir-button-sm:focus {background-color: #25446d; border-color: #25446d;}
.btn.mydir-button-sm {
	padding: 0.375rem 2rem;
	text-transform: none;
	font-weight: 400;
	font-size: 0.875rem;

}
.mydir.btn-link {
	color: #1e3451;
	margin-top: 1rem;
}
.btn {font-size: 0.875rem;}

/* side bar nav */
.main-sidebar.mydir-sidebar {background-color: #1e3451;}
.nav-sidebar .nav-link {
	font-size: 0.875rem;
	padding: 0.5rem 0.75rem;
}
.nav-sidebar > .nav-item .nav-icon.fa, .nav-sidebar > .nav-item .nav-icon.fas, .nav-sidebar > .nav-item .nav-icon.far, .nav-sidebar > .nav-item .nav-icon.fab, .nav-sidebar > .nav-item .nav-icon.glyphicon, .nav-sidebar > .nav-item .nav-icon.ion {
	font-size: 1rem;
}


/* top nav */
.mydir-nav {background-color: #ff5400}
.mydir-nav label {color: #fff; font-weight: 400;}


/* dashboard */
.card-head {
	background: #ff540038;
	padding: 1.25rem;
}
.card-title.mydir {
	float: none;
	font-size: 1rem;
	font-weight: 400;
}
.mydir-dashboard .card-text li {
	border-bottom: 1px solid #e0e0e0;
}
.mydir-dashboard .card-text li a {
	padding: 0.25rem 0 0.25rem 0.25rem;
	display: block;
	color: #1e3451;
}
.mydir-dashboard .card-text li a:hover, .mydir-dashboard .card-text li a:focus  {
	background-color: #eee; color: #ff5400
}


/* Data grid screens */
.mydir-action {
	background: #ff5400;
	padding: 0.5rem 1.5rem;
	display: inline-block;
	border-radius: 3px;
	color: #fff;
}
.mydir-action:hover, .mydir-action:focus {
	color: #fff;
}
.edit.mydir-dg {
	background-color: #446999;
	color: #fff;
}
.open-delete-modal.mydir-dg, .open-delete-modal.mydir-dg:hover {
	background-color: #d03f3f;
	color: #fff;
}
.open-suspend-modal {
	background-color: #ccc;
}
.open-remove-live-modal, .open-remove-live-modal:hover {
	background-color: #d03f3f;
	color: #fff;
}
.open-make-live-modal, .open-make-live-modal:hover {
	border: 0px;
	background-color: #267526;
	color: #fff;
}
.open-apply-latest-live-modal, .open-apply-latest-live-modal:hover, .open-apply-latest-live-modal:focus {
	border: 1px solid #446999;
	background-color: #007bff;
	color: #fff;
}

.mydir-table thead {
	background-color: #81abe12b;
}
table.dataTable.mydir-table {
	margin-bottom: 2rem !important;
}
.panel.panel-default {
	padding: 1.5rem;
	background: #e0e0e0;
	border-radius: 3px;
	margin-bottom: 2rem;
}
.panel-title {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #d0d0d0;
}
.modal-title {
	font-size: 1.25rem;
	margin-bottom: 0.75rem;
	font-weight: 500;
}
#modal_processing {
	color: #007cff;
	font-weight: 700;
}
.mydir-table td {
	font-size: 0.875rem;
	vertical-align: middle;
}
.mydir-dg.btn {
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	padding: 0.5rem;
	min-width: 36px;
}
.even {
	background-color: #e0e0e0;
}
.action-width {width: 300px !important}

/* Form screens */
.form-control {font-size: 0.875rem;}
.form-outer {background-color: #eee;}

.form-outer .form-group, .form-group {margin-bottom: 1.875rem;}

.text-danger.error {font-weight: 700; margin-top: 0.25rem;}

.mydir-success {font-weight: 700; color: rgb(52, 143, 52);}

.form-cols {
	column-count: 3;
	margin-top: 1rem;
}
.tab-pane {
	padding: 2rem 1rem;
}
.mydir-tabs .nav-link {
	color: #ff5400;
	position: relative;
	font-size: 0.875rem;
	font-weight: 500;
	padding: 0.5rem 0.875rem;
}
.mydir-tabs .nav-link.error::after {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	background: #ff0000;
	content: '!';
	border-radius: 50%;
	right: -3px;
	top: -3px;
	font-family: georgia;
	color: #fff;
	font-weight: 700;
	text-align: center;
	font-size: 1rem;
	line-height: 1rem;
	transition: all ease 0.1s;
	z-index: 100;
}
.article-image-preview {
	padding: 1rem;
	background-color: #ccc;
	border-radius: 6px;
	margin-top: 1rem;
}
.article-image-preview img {
	max-width: 100%;
}
.input-group-text {font-size: 0.875rem;}
.form-split {background-color: #d0d0d0; height: 5px; margin: 1.5rem 0;}

.drag-list {list-style: none; padding: 0;}
.drag-box {
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: 1px dashed #aaa;
	background: #ccc;
}
.drag-handle {
	text-align: center;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	background: #e1f9ff;
	justify-content: center;
	cursor: grab;
}
.draggable-mirror {width: 50%}

.article-results {
	width: 100%;
	background-color: #f0f0f0;
	border: 1px solid #92c2f2;
	z-index: 10;
	border-radius: 0.25rem;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.25);
}
.article-search {
	width: 100%;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}
.remove-selection {
	transform: translate(0,-50%);
	top: 50%;
	margin-left: 5px;
}
.article-results .highlight-on:hover {background-color: #a7cbf5;}
.cursor-pointer {cursor: pointer;}

.form-select-all {
	margin-bottom: 0.75rem;
	padding-bottom: 0.75rem;
	border-bottom: 1px dashed #666;
	font-weight: 700;
}
.filter-header {
	color: #333;
	border-bottom: 1px solid #ff5400;
	width: 100%;
	padding-bottom: 0.5rem;
	margin-bottom: 0.75rem;
}
.nav-tabs {
	border-bottom: 1px solid #dedede;
	background: #ffefe8;
	padding-top: 0.5rem;
	border-radius: 3px 3px 0 0;
}

/* Calendar */
#ui-datepicker-div {
	width: 300px;
	background-color: #fff;
	border: 1px solid #666;
	padding: 0.625rem;
	border-radius: 6px;
}
.ui-datepicker-header {
	background-color: #e0e0e0;
	padding: 0.625rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 5px;
}
.ui-datepicker-title {
	width: 100%;
	text-align: center;
	font-weight: 700;
	border-top: 1px solid #666;
	padding-top: 5px;
}
.ui-datepicker-next, .ui-datepicker-prev {
	background-color: #ccc;
	padding: 5px 10px;
	border-radius: 3px;
	margin-bottom: 5px;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}
.ui-datepicker-calendar {
	width: 100%;
}
.ui-datepicker-calendar th {
	padding: 3px;
	margin: 2px;
	border-radius: 3px;
	width: 14.285%;
}
.ui-datepicker-calendar a {
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 3px;
}
.ui-datepicker-calendar .ui-datepicker-today a {
	border: 1px solid rgb(0,132,255);
	background-color: #fff9c5;
}
.ui-datepicker-calendar a.ui-state-active {
	font-weight: 600;
	color: #1e3451;
	background-color: #acd7ff;
	border: 1px solid #1e3451;
}


/* user data screen */
.stat-button, .stat-button:hover, .stat-button:focus {color: #ff6600;}
.stat-button .stat-text {color: #38373d}
.stat-header {background-color: #e0e0e0;}

.subject-indicator {width: 16px; height: 16px; border-radius: 50%;}
.sub-positive {background-color: #00800b;}
.sub-middle {background-color: #d86100;}

/* Content Preview */
.preview-canvas {
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-size: 1.125rem;
	text-rendering: optimizelegibility;
	color: #444444;
	background-color: #fff;
	border: 10px solid #e0e0e0;
	padding: 1rem 1rem;
}

.preview-canvas.vlg-bg {background-color:#eeeeee}
.preview-canvas.summary-slot-4-6 .article-block-link {width: 498px;}
.preview-canvas {
	.t64 {font-size: 4rem}
	.t56 {font-size: 3.5rem}
	.t48 {font-size: 3rem}
	.t36 {font-size: 2.25rem}
	.t32 {font-size: 2rem}
	.t30 {font-size: 1.875rem}
	.t24 {font-size: 1.5rem}
	.t22 {font-size: 1.375rem}
	.t20 {font-size: 1.25rem}
	.t18 {font-size: 1.125rem}
	.t16 {font-size: 1rem}
	.t14 {font-size: 0.875rem}
	.t13 {font-size: 0.8125rem}
	.t12 {font-size: 0.75rem}
	h1, h2, h3, h4, h5, h6 {color:#28334a}
	.fw300 {font-weight: 300}
	.fw400 {font-weight: 400}
	.fw600 {font-weight: 600}
	.fw700 {font-weight: 700}
	p {font-weight: 400; line-height: 1.4;}
	.def-bg {background-color:#444444; fill:#444444}
	.lg-bg {background-color:#cdcdcd}
	.vlg-bg {background-color:#eeeeee}
	.mlg-bg {background-color:#e0e0e0}
	.gg-bg {background-color:#aaa}
	.w-bg {background-color:#fff; fill:#fff}

	.article-body h2, .lower-text h2, .alternate-block h2 {font-size: 1.5rem; font-weight: 700;}
	.article-body h3, .lower-text h3, .alternate-block h3 {font-size: 1.5rem}
	.article-body h4, .lower-text h4, .alternate-block h4 {font-size: 1.25rem; font-weight: 700;}
	.article-body h5, .lower-text h5, .alternate-block h5 {font-size: 1.25rem}
	.article-body h6, .lower-text h6, .alternate-block h6 {font-size: 1.125rem}

	.bg-2 {background-color:#28334a}
	.alternate-block ul {
		list-style: none;
		padding-left: 40px;
	}
	.alternate-block ul li {
		position: relative;
		padding-left: 10px;
	}
	.alternate-block ul li::before {
		content: '\f058';
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		border-radius: 50%;
		font-family: fontawesome;
		color: #444;
		left: -20px;
	}
	.alt-cols {
		column-count: 2;
		column-gap: 40px;
	}
	.divider {
		width: 100%;
		height: 8px;
		margin-bottom: 25px;
	}
	.tyn-icon {
		display: inline-block;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		text-align: center;
		line-height: 36px;
		margin-right: 0.75rem;
	}
	a {text-decoration: underline; color: #865e9d}
	a:hover, a:focus {text-decoration: none; color:#28334a}
	.td-no {text-decoration: none}
	a.t-w:hover, a.t-w:focus, .t-w {color:#fff}
	.banner {width: 100%;}

	.lhp-intro-banner {
		height: 503px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 895px;
	}

	.activity-overlay {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.blur-summary {
		background-color: rgba(255,255,255,0.85);
		padding: 25px;
		min-height: 150px;
		width: 100%;
		transition: 0.15s ease;
	}
	.summary-extra {
		position: absolute;
		top: 100%;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.75);
		transition: 0.25s ease-in;
	}
	.ac-link {
		position: relative;
	}
	.ac-link:hover .summary-extra {
		top: 0;
	}
	.ac-link:hover .blur-summary {
		opacity: 0;
	}


	.blur-summary h3, .article-summary h3, .article-summary h4, .blur-summary h4 {color: #865e9d}
	.event-summary {color:#28334a}
	img {max-width: 100%;height: auto;}
	.summary-slot-2-3 {width: 630px;}
	.article-summary {
		padding: 25px;
		flex: 1;

	}
	.article-summary.mbh-1 {min-height: 180px;}
	.square {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		overflow: hidden;
	}

	.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
	}
	.summary-slot-yml, .summary-slot-sr {
		width: 366px;
	}
	.sup-img-holder {
		text-align: center;
	}
	.sup-img {
		display: inline-block;
		width: auto;
	}
	.sup-img-caption {
		width: auto;
		text-align: left;
	}
	.article-body table {
		margin-bottom: 1rem;
	}
	.card-header p {margin-bottom: 0;}

	.activity-banner {padding: 70px 3rem;}
	.ac-ban-img {border: 5px solid #fff;}
	.act-things {
		border-radius: 9px;
		padding: 1.5rem 2rem 5rem 2rem;
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 310.5px 63px;
	}

	.ep-inner {
		width: 100%;
	}
	.ep-logo {
		height: 55%;
		border-top: 10px solid #ddd;
		border-bottom: 10px solid #ddd;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		padding: 10px;
	}
	.ep-logo img {
		max-height: 150px;
	}
	.ep-summary {
		height: 45%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-bottom: 10px solid #ddd;
		padding: 0px 25px;
	}
	.ep-ban-img {
		background-color: #fff;
		border-radius: 6px;
		padding: 1rem;
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.ep-ban-img img.img-fluid {
		max-height: 100%;
	}
	.event-summary {line-height: 1}
	.t-up {text-transform: uppercase}
	blockquote {
		padding-left: 2rem;
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
		margin: 0 0 1rem;
	}
	blockquote p:nth-last-child(1) {
		margin: 0;
	}
	blockquote {border-left: 5px solid #28334a}
}

/* SM Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {



}

/* LG Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

.keyword-columns {columns: 3; column-gap: 30px;}
.preview-canvas {padding: 2rem 3rem;}

}

/* XL Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {




}

/* Extra large Laptops */
@media (min-width: 1440px) {

body {font-size: 1rem;}
h1 {font-size: 2rem;}
h2 {font-size: 1.125rem;}
.content-wrapper > .content {padding: 60px 4.5rem;}
.nav-sidebar .nav-link {padding: 0.5rem 1rem;}
.form-control {font-size: 1rem;}
.btn.mydir-button, .btn.mydir-button-sm {font-size: 1rem;}
.btn {font-size: 1rem;}
small, .small {font-size: 80%;}
.input-group-text {font-size: 1rem;}

.preview-canvas {
	padding: 3rem 9.8725rem;
}

}

/* Bigger than a 1600 HD+ Display */
@media  screen and (min-width: 1601px) {



}
