.pnova {font-family: proxima-nova,sans-serif;}

body,html {
	height: 100%;
	width: 100%;
}
body {
 font-family: proxima-nova,sans-serif;
 font-weight: 400;
 font-size: 1rem;
 text-rendering: optimizelegibility;
 color: $t-def;
 background-color: #fff;
}

iframe[name="google_conversion_frame"] {display: none;}

a {text-decoration: underline; color: $link-def}
a:hover, a:focus {text-decoration: none; color: $link-hf}
p a {text-decoration: underline}
p a:hover {text-decoration: none}
p {font-weight: 400;line-height: 1.4;}

img {max-width: 100%; height: auto;}

.lh0 {line-height: 0.75rem}
.lh1 {line-height: 1.3rem}
.lh2 {line-height: 1.5rem;}
.lh3 {line-height: 1.875rem}
.lh4 {line-height: 2rem}

.p-w-xl {padding: 50px 0}
.p-w {padding: 35px 0}
.p-ws {padding: 20px 0}
.mt-w {margin-top: 35px}
.p-offset {padding-left: 10px}


footer {position: relative; min-height: 250px;}
footer a {text-decoration: none;}
footer a:hover {text-decoration: underline;}
footer a:hover {text-decoration: underline;}

/* ---------------------------------------------------------------- */

/* Reduced sizes for mobile */
.t64 {font-size: 2.5rem}
.t56 {font-size: 2.25rem}
.t48 {font-size: 2rem}
.t36 {font-size: 1.5rem}
.t32 {font-size: 1.25rem}
.t30 {font-size: 1.25rem}
.t24 {font-size: 1.125rem}
.t22 {font-size: 1.125rem}
.t20 {font-size: 1.125rem}
.t18 {font-size: 1rem}
.t16 {font-size: 0.875rem}
.t14 {font-size: 0.75rem}
.t12 {font-size: 0.75rem}


.article-body h2, .lower-text h2, .alternate-block h2 {font-size: 1.125rem; font-weight: 700;}
.article-body h3, .lower-text h3, .alternate-block h3 {font-size: 1.125rem}
.article-body h4, .lower-text h4, .alternate-block h4 {font-size: 1rem; font-weight: 700;}
.article-body h5, .lower-text h5, .alternate-block h5 {font-size: 1rem}
.article-body h6, .lower-text h6, .alternate-block h6 {font-size: 0.9375rem}

.t-up {text-transform: uppercase}
.td-no {text-decoration: none}

.fw300 {font-weight: 300}
.fw400 {font-weight: 400}
.fw600 {font-weight: 600}
.fw700 {font-weight: 700}

.mls1 {letter-spacing: -0.05rem;}
.ls1 {letter-spacing: 0.025em;}
.ls2 {letter-spacing: 0.075em;}
.ls3 {letter-spacing: 0.1em;}

.error {color:#FF0000}

/* 
Default Grey: #444 def
Very light grey: #eee vlg
light grey: #cdcdcd lg

 */

.def-bg {background-color:#444444; fill:#444444}
.lg-bg {background-color:#cdcdcd}
.vlg-bg {background-color:#eeeeee}
.mlg-bg {background-color:#e0e0e0}
.gg-bg {background-color:#aaa}
.w-bg {background-color:#fff; fill:#fff}

a.t-def:hover, a.t-def:focus, .t-def {color:$t-def}
a.t-alt:hover, a.t-alt:focus, .t-alt {color:#222}
a.t-lg:hover, a.t-lg:focus, .t-lg {color:#cdcdcd}
a.t-w:hover, a.t-w:focus, .t-w {color:#fff}

.def-border {border-color:#444444 }
.lg-border {border-color:#cdcdcd}
.vlg-border {border-color:#eeeeee}
.mlg-border {border-color:#e0e0e0}
.gg-border {border-color:#aaa}
.w-border {border-color:#ffffff}

/* END default Colour settings */
/* Client colour settings */
.bg-1{background-color: $bg-1; fill: $bg-1} /* purple */
.bg-2 {background-color: $bg-2;} /* blue */
.bg-3, .examples-link, .platform-button.add-item {background-color: $bg-3;} /* orange */

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .nav-item a, .nav-item a:hover, .nav-item a:focus, .platform-button:hover, .platform-button:focus, a.t-w:hover, a.t-w:focus, .t-w {color: $t-light;}
.t-alt {color: $t-alt;}

.article-block-link h3, a .article-summary h4, a h4, .article-row h3, .nav-item a.login-public {color: $link-def}
.article-block-link p, a .article-summary p, .article-block-link .blur-summary, .article-block-link ul, .article-row, a .article-summary ul {color: $t-def}

h1, h2, h3, h4, h5, h6, a .event-summary, a .ev-lst-details, a.t-def:hover, a.t-def:focus, .t-def, .mydir-tabs .nav-item a {color:$t-dark}
.def-border {border-color:$t-dark}
blockquote {border-left: 5px solid $t-dark}

.cookie-button, .cookie-button:hover, .cookie-button:focus {background-color: $bg-3; color: $t-light}


.nav-tabs.mydir-tabs .nav-link {border: 1px solid $bg-2;}
.nav-tabs.mydir-tabs {border-bottom: 1px solid $bg-2;}
.nav-tabs.mydir-tabs .nav-link.active, .nav-tabs.mydir-tabs .nav-item.show .nav-link {border-color: $bg-2 $bg-2 #fff;}
.nav-tabs.mydir-tabs .nav-link:hover, .nav-tabs.mydir-tabs .nav-link:focus {border-color: $bg-2 $bg-2 #fcf8f8;}



/* END Client Colour settings */
.cookie-consent {font-size: 1rem;}
.cookie-button {
	padding: 0.5rem 1.125rem;
	text-decoration: none;
	border: 0;
	line-height: 1;
	min-height: 36px;
	border-radius: 9px;
	margin: 0 0.3125rem;
}

.accept {
	border-top: 1px solid #ccc;
	padding-top: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.navbar-brand {
	width: 150px;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
}
.login-public {
	background-color: #fff;
	border-radius: 3px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.875rem;
	line-height: 0.875rem;
}


.r-sep {margin-top: 15px; margin-bottom: 15px;}
.r-pad {padding-top: 15px; padding-bottom: 15px;}
.r-base {margin-bottom: 15px;}
.article-summary {padding: 25px; flex: 1}
.article-block-link, .article-block-link:hover, .article-block-link:focus {text-decoration: none;}

.article-block-link {height: 100%}

.article-body table {margin-bottom: 1rem;}
.card-header p {margin-bottom: 0;}

.article-block-link .summary-over p {
	color: #fff;
}
.summary-over {
	position: absolute;
	top: 0;
	background-color: rgba(50,50,50,0.75);
	width: 100%;
	height: 100%;
	padding: 25px;
	color: #fff;
	left: -100%;
	transition: ease 0.5s all;
}
.slot-outer {
	overflow: hidden;
	height: 100%;
}
.article-block-link:hover .summary-over {
	left: 0;
}

.slot-header {
	background-color: $bg-1;
	padding: 15px;
	border-radius: 3px 3px 0 0;
	border-bottom: 5px solid $bg-3;
}

.slot-header img {
	height: 32px;
}

.platform-button {
	background-color: $but-dark-1;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.8375rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	display: inline-block;
	color: $t-light;
}




.platform-button.alt-button {
	background-color: $but-light-2;
	color: $t-dark;
}


.platform-button.pb-lge {
	font-size: 1.125rem;
	padding: 1.125rem 1.75rem;
}
.platform-button.pb-inv {
	background-color: $but-dark-1;;
	color: $t-light;
}

.public-intro-banner {
	height: 528px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #ddd;
}
.public-banner-text {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 40px;
}

.lhp-intro-banner {
	height: 503px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.heading-border {
	border-left: 5px solid $bg-3;
	display: inline-block;
	padding: 25px;
}

.sup-img-holder {
	text-align: center;
}
.sup-img {
	display: inline-block;
	width: auto;
}
.sup-img-caption {
	width: auto;
	text-align: left;
}

.event-summary {line-height: 1}
.mbh-1 {min-height: 180px;}

.heading-no-border {padding: 0px;}

.square {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: hidden;
}
  
.square:after {
content: "";
display: block;
padding-bottom: 100%;
}
.activity-overlay {
	position: absolute;
	bottom: 0;
	right: 0;
}

.blur-summary {
	background-color: rgba(255,255,255,0.85);
	padding: 25px;
	min-height: 150px;
	width: 100%;
	transition: 0.15s ease;
}
.summary-extra {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	transition: 0.25s ease-in;
}
.ac-link {
	position: relative;
}
.ac-link:hover .summary-extra {
	top: 0;
}
.ac-link:hover .blur-summary {
	opacity: 0;
}
.ep-inner {
	width: 100%;
}
.ep-logo {
	height: 55%;
	border-top: 10px solid #ddd;
	border-bottom: 10px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: 10px;
}
.ep-logo img {
	max-height: 150px;
}
.ep-summary {
	height: 45%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 10px solid #ddd;
	padding: 0px 25px;
}
.ep-ban-img {
	background-color: #fff;
	border-radius: 6px;
	padding: 1rem;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ep-ban-img img.img-fluid {
	max-height: 100%;
}

.ev-lst-inner {
	height: 100% !important;
	padding: 20px 0px 20px 20px;
}
.divider {
	width: 100%;
	height: 8px;
	margin-bottom: 25px;
}
.tyn-icon {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
	margin-right: 0.75rem;
}
.search-btn {
	width: 36px;
	height: 36px;
	text-align: center;
	padding: 0;
	font-size: 12px;
	line-height: 12px;
	background-color: #fff;
	display: inline-block;
	border: 0;
}
.alternate-block ul {
	list-style: none;
	padding-left: 40px;
}
.alternate-block ul li {
	position: relative;
	padding-left: 10px;
}
.alternate-block ul li::before {
	content: '\f058';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 50%;
	font-family: fontawesome;
	color: #444;
	left: -20px;
}
.welcome-swoosh {
fill: $bg-3
}

.subjects-header {
	padding: 0.75rem 2.5rem;
	line-height: 1.2;
	border-radius: 6px 6px 0 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.subjects-answer {width: 100%;}

.subjects-answer input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
  }
  .subjects-answer label {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	margin: 0;
}
.subjects-answer label::before {
	display: block;
	position: absolute;
	font-family: fontawesome;
	content: '\f10c';
	font-size: 32px;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0px;
	border-radius: 50%;
	line-height: 30px;
	text-indent: -1px;
}
.subjects-answer input[type="radio"]:checked + label::before {
	content: '\f192';
	background-color: #a1f599;
}
.subjects-answer label.mb-label {
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
}
.subjects-answer label.mb-label::before {
	display: none;
}

.car-answer {
	border: 1px solid #aaa;
	padding: 1rem;
	border-radius: 32px;
	width: 100%;
	margin-top: 1rem;
}

.cas-answer input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
  }
  .cas-answer label {
	display: inline-block;
	position: relative;
	margin: 0;
	padding-left: 3rem;
}
.cas-answer label::before {
	display: block;
	position: absolute;
	font-family: fontawesome;
	content: '\f10c';
	font-size: 32px;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0px;
	border-radius: 50%;
	line-height: 30px;
	text-indent: -1px;
}
.cas-answer input[type="radio"]:checked + label::before {
	content: '\f192';
	background-color: #a1f599;
}
.routes-answer {
	position: relative;
}
.routes-answer input[type="checkbox"] {
	opacity: 0;
	position: fixed;
	width: 0;
  }
  .routes-answer label {
	margin: 0;
}
.routes-answer label::before {
	display: block;
	position: absolute;
	font-family: fontawesome;
	content: '\f096';
	font-size: 32px;
	width: 27px;
	height: 27px;
	left: 0;
	top: 7px;
	line-height: 28px;
	text-indent: -1px;
}
.routes-answer input[type="checkbox"]:checked + label::before {
	content: '\f046';
	background-color: #a1f599;
}

.platform-button.pb-previous {
	background-color: $but-light-2;
	border: 2px solid $but-dark-1;
	color: $but-dark-1;
	min-width: 150px;
}
.platform-button.pb-next {
	background-color: $but-dark-1;
	border: 0;
	color:$but-light-2;
	min-width: 150px;
}
.q-number {
	border-radius: 6px 0 0 6px;
}
.q-text {
	border-radius: 0 6px 6px 0;
}
.self-help {
	text-decoration: none;
	display: inline-block;
	background: #e0e0e0;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
}

.p-bar {
	fill: $bg-1;
	fill-rule: evenodd;
}
.p-circ {
	stroke: $bg-1;
	stroke-width: 10px;
	fill: #fff;
	fill-rule: evenodd;
}
.p-circ.p-comp {
	fill: $bg-3;
	fill-rule: evenodd;
}

.form-inline .form-control.search-form {
	border: 1px solid;
	width: 100%;
	height: calc(1.875em + 0.875rem + 2px);
}

.paginate a {
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
	display: block;
	padding: 0.25rem 0.25rem;
	border: 1px solid;
	border-radius: 6px;
	min-width: 30px;
	text-align: center;
	margin-right: 0.25rem;
}

.sticky-p {
	top: 75px;
}
.alert-danger {
	color: #761b18;
	background-color: #ffe7e6;
	border: none
}

blockquote {
	padding-left: 2rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}
blockquote p:nth-last-child(1) {
	margin: 0;
}


/* Search form */
.suggestions {
	background: #fff;
	top: 72px;
	border: 1px solid $t-dark;
	padding: 1rem;
	z-index: 3;
	border-radius: 6px;
	width: 100%;
}
.suggestion-title {
	text-transform: uppercase;
	color: #999;
	font-weight: 700;
	font-size: 0.875rem;
}
.searching {
	text-transform: uppercase;
	color: $t-dark;
	font-weight: 700;
	font-size: 0.875rem;
}
.keyword-link {
	display: block;
	padding: 0 1px;
	border-radius: 3px;
}
.keyword-link:hover {background-color: #e0e0e0;}

/* Self assessment */
.over-img {
	position: absolute;
	left: 50%;
	right: 0;
	transform: translate(-50%,0);
	width: 100%;
}
.over-img img {
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}

/* Free articles */
.free-article-msg {
	padding: 1.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	margin-bottom: 2rem;
	background-color: #eee;
}
.free-info {color: #1e83bd}

/*
.slot-2-3-img {
	min-height: 300px;
	background-color: #ddd;
}
*/
.search-img {
	background-color: #eee;
}

/* Work Experience */
.bar-header {
	width: 90%;
	margin: 0 auto 0.5rem;
}
.bar-holder {
	position: relative;
	width: 90%;
	margin: 0 auto;
	height: 15px;
}
.bar-bg {
	height: 15px;
	width: 100%;
	background-color: #fff;
	border-radius: 15px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.bar-progress {
	height: 15px;
	background-color: #307511;
	position: absolute;
	border-radius: 15px;
	z-index: 20;
}
.bar-details {
	position: relative;
	height: 52px;
	width: 90%;
	margin: 0 auto 3rem;
}
.bar-score-bg {
	position: absolute;
	width: 43.5px;
	height: 51.25px;
}
.bar-icon {
	position: absolute;
	z-index: 15;
}
.bar-score {
	position: absolute;
	z-index: 25;
	width: 43.5px;
	height: 51.25px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;
	padding-top: 0.5rem;
}

.activity-banner {padding: 50px 1.5rem;}
.ac-ban-img {border: 5px solid #fff;}
.act-things {
	border-radius: 9px;
	padding: 1.5rem 2rem 5rem 2rem;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 310.5px 63px;
}
.act-num {
	font-size: 1.5rem;
	font-weight: 700;
}
.activity-answer {
	font-size: 1.125rem;
}

/* CV builder */
.nav-tabs.mydir-tabs .nav-link {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.nav-tabs.mydir-tabs {
	padding-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.nav-tabs.mydir-tabs .nav-link.active, .nav-tabs.mydir-tabs .nav-item.show .nav-link {
	color: #495057;
	background-color: #fff;
	font-weight: 600;
	text-decoration: none;
}
.mydir-tabs .nav-item a {
	text-decoration: none;
	background-color: #eaeaea;
	padding: 0.5rem 0.75rem;
	font-size: 0.875rem;
}
.nav-tabs.mydir-tabs .nav-item {
	margin-right: 1px;
}
.nav-tabs.mydir-tabs .nav-link:hover, .nav-tabs.mydir-tabs .nav-link:focus {
	background-color: #fff;
}
.cv-split {
	background-color: #ccc;
	height: 1px;
	margin-top: 1.25rem;
}
.examples-link {
	color: #fff;
	text-decoration: none;
	display: block;
	font-size: 1.125rem;
	padding: 0.625rem 1.25rem;
	font-weight: 600;
}
.examples-link:hover, .examples-link:focus {color: #fff; text-decoration: none;}
.example-text {background-color: #e0e0e0; padding: 1.25rem}

.cv-dyn-item {
	background-color: #e0e0e0;
	border: 1px solid #ccc;
	margin-top: 1rem;
	margin-bottom: 3rem;
}
.drag-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.drag-box {
	background-color: #ccc;
	padding: 10px;
	margin-bottom: 1.5rem;
}
.drag-handle {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dashed #666;
	border-radius: 50%;
}
.template-outer {
	display: flex;
	align-items: start;
	padding: 1rem;
	margin-bottom: 1.5rem;
}
.template-outer label {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-left: 1px dashed #aaa;
	padding-left: 1rem;
}
.template-outer label img {
	width: 200px;
	align-self: center;
	margin-bottom: 1rem;
}
.cv-preview-outer {
	background-color: #ccc;
	padding: 2.5rem;
	margin-top: 1.5rem;
}
.cv-preview-inner {
	background-color: #fff;
	border: 1px solid #999;
	padding: 4rem 5rem 6rem;
}
.cv-inner-heading {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.625rem;
}
.page-break-info {
	padding: 1.25rem 1.5rem;
	border: 1px solid #ccc;
	border-radius: 6px;
}
.cv-builder small {
	display: inline-block;
	margin-top: 0.5rem;
	line-height: 1.5;
}

/* Vacancies screens */
.vac-banner-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.vac-banner {
	background-color: rgba(0,0,0,0.5);
}
.filter-bg {
	background-color: rgba(0,0,0,0.6);
	padding: 0.625rem 1rem;
}

/* SM Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

	.public-intro-banner {height: 340px;}
	.article-block-link {
		display: flex;
	}
	.hp-free-img {width: 50%;}


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.login-header {
		width: 50%;
		margin-bottom: 1rem;
	}

}

/* LG Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	.alt-cols {
		column-count: 2;
		/* column-width: 50px; */
		column-gap: 40px;
	}

	.search-container {border-left: 1px solid;}

	.hp-free-img {width: 100%;}
	.article-block-link {flex-direction: column; width: 100%;}

	.public-intro-banner {
		height: 440px;
	}
	.form-control-lg {
		font-size: 1rem;
	}
	.account-form {border-left: 1px solid}

	.suggestions {
		top: 40px;
	}

	.heading-no-border {padding: 25px;}

	/* Dashboard fixes for no images 
	.slot-2-3-img {
		min-height: 243.5px;
		}
	*/
	.login-header {
		width: auto;
		margin-bottom: 0rem;
	}
	.list-columns {column-count: 2;}


}

/* XL Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.p-w-xl {padding: 100px 0}
	.p-w {padding: 75px 0}
	.p-ws {padding: 40px 0}
	.mt-w {margin-top: 75px}
	.p-offset {padding-left: 30px}

	.blur-summary {
		padding: 18px;
		min-height: 110px;
	}
	.blur-summary h4.t20 {font-size: 1rem}

	.side-button {
		transform: scale(0.75);
		translate: 4px 0px;
	}
	.ev-lst-details.t16 {
		font-size: 0.75rem;
	}
	.ev-lst-inner {
		padding: 16px 0px 16px 16px;
	}

	.paginate a {
		font-size: 1.5rem;
		padding: 0.5rem 0.5rem;
		min-width: 50px;
		
	}

	.lhp-intro-banner {
		height: 400px;
	}
	.cas-answer label span {
		white-space: nowrap;
	}
	.slot-header img {
		height: 44px;
	}
	
	.activity-banner {padding: 70px 3rem;}
	.ep-logo img {
		max-height: 150px;
		padding: 20px;
	}
	


}

/* Extra large Laptops */
@media (min-width: 1440px) {
	
	
	.side-button {
		transform: scale(1);
		translate: 0px 0px;
	}

	.examples-link {font-size: 1.5rem;}
	
}

/* Bigger than a 1600 HD+ Display */
@media  screen and (min-width: 1601px) {

.site-outer-pad {padding: 0 10rem;}	

body {font-size: 1.125rem}
	
.t64 {font-size: 4rem}
.t56 {font-size: 3.5rem}
.t48 {font-size: 3rem}
.t36 {font-size: 2.25rem}
.t32 {font-size: 2rem}
.t30 {font-size: 1.875rem}
.t24 {font-size: 1.5rem}
.t22 {font-size: 1.375rem}
.t20 {font-size: 1.25rem}
.t18 {font-size: 1.125rem}
.t16 {font-size: 1rem}
.t14 {font-size: 0.875rem}
.t13 {font-size: 0.8125rem}
.t12 {font-size: 0.75rem}



.article-body h2, .lower-text h2, .alternate-block h2 {font-size: 1.5rem;}
.article-body h3, .lower-text h3, .alternate-block h3 {font-size: 1.5rem}
.article-body h4, .lower-text h4, .alternate-block h4 {font-size: 1.25rem;}
.article-body h5, .lower-text h5, .alternate-block h5 {font-size: 1.25rem}
.article-body h6, .lower-text h6, .alternate-block h6 {font-size: 1.125rem}

.blur-summary {
	padding: 25px;
	min-height: 150px;
}
.blur-summary h4.t20 {font-size: 1.25rem}
.form-control-lg {
	font-size: 1.125rem;
}
.public-intro-banner {
	height:528px;
}

.ev-lst-details.t16 {
	font-size: 1rem;
}
	
.xl-p {padding: 75px 10rem;}

.lhp-intro-banner {
	height: 502px;
}
.platform-button {
	font-size: 0.875rem;
	padding: 0.625rem 1.125rem;
}

}
